    <% include common/header %>
    <h1>
    Entrer ci-dessous les informations nécessaire au salon :
    </h1>
    <label>Votre profil </label>
    <script type="text/javascript">
        function showRadio() {
            //var n = document.form.button.length;
            n = 4; /*Mettre Ici le nom de champs*/
            for(i=1;i<=n;i++) {
                if(document.getElementById('choix'+i).checked == true) 
                {
                    document.getElementById('D'+i).style.display = "block";
                }
                else
                {
                    document.getElementById('D'+i).style.display = "none";
                }
            }
        }
    </script>
    <div>
        <p id="metier">

        </p>
    </div>
    </br>
    <div id="checkbox">
    </div>                
    <script>
        $(function() {
          $.getJSON('config.json',function(data){
            var obj = data; //tous le fichier JSON dans un obj
            var metier = Object.keys(obj);
            var i = 0;
            var choix;
            while(metier[i]) {
                choix = "<label><input type=\"radio\" id=\"choix";
                choix = choix + (i + 1);
                choix = choix + "\" name=\"button\" value=\""
                choix = choix + metier[i]
                choix = choix + "\" onclick=\"showRadio()\" />"
                choix = choix + metier[i];
                choix = choix + "</label></br>"
                document.getElementById("metier").innerHTML +=choix;
                i++;
            }
            i = 0;
            var z = 0;
            var name = 'D';
            var save = 'D';
            var all;
            var inter;
            var int = 1;
            var t = 1;
            while(metier[i]){
                all = "<div id=\"";
                inter = data[metier[i]];
                inter = inter.split(',')
                z = 1;
                name = save;
                name = name + t;
                all = all + name;
                all = all + "\" style=\"display: none;\"><label>Votre metier :</label></br>"
                $('#checkbox').append(all);
                var append;
                while(inter[z]){
                    append = "<label><input name=\"";
                    append = append + inter[z];
                    append = append + "\"";
                    append = append + "value=\"";
                    append = append + inter[z];
                    append = append + "\"type=\"checkbox\"/>";
                    append = append + inter[z];
                    append = append + "</label> </br>";
                    $("#D"+int).append(append);
                    z++;
                }
                i++;
                t++;
                int++;
            }
          });
      });
    </script>
</body>
<% include common/footer %>

<!--
    "Test":"Test, Consultant testing principal, Consultant testing managing, Consultant testing senior",
    "Application":"Application, Ingenieur etude et developpement, Consultant Big Data, Consultant fonctionnelle, Chef de projet application"
-->