<% include common/header %>

</br>
<h1>Votre inscription pour le tirage au sort a bien été pris en compte</h1>
<h2>Passez une bonne journée !</h2>
<a href="http://localhost:3000/" rel="nofollow" target="">
    <h1>Form</h1>
</a>
</br>
<% include common/footer %>