<% include common/header %>

</br>
<div class="container">
    <h1>Votre inscription pour le tirage au sort a bien été pris en compte</h1>
    </br>
    <a href="/">
        <img src="images/banderole.png" alt="groupe Capgemini" width="50%">
    </a>
    <h2>Passez une bonne journée !</h2>
    <a href="http://localhost:3000/" rel="nofollow" target="">
    </a>
    <p>cliquer sur l'image pour revenir à l'</p>
    </br>
</div>
<% include common/footer %>