<!DOCTYPE html>
        <% include common/header%>
        
        <a href="/config" >Tirage</a>
        <script type="text/javascript"  src="/javascripts/scannedText.js"></script>
        <div class="container">
            <div class="card">
                <form action="/adduser" name="adduser" method="post">
                    <% include common/infos_perso%>
                    <div class="form-group">
                        <% include common/infos_competences%>
                    </div>
                    </br>
                    <button type="submit" class="btn btn-success btn-lg btn-block">Valider</button>
                    </br>
                    <label>* : Champs obligatoire</label>
                    </br>
                    </br>
                </form>
            </div>
        </div>
    </body>
    <% include common/footer %>
</html>