<% include common/header %>
<div class="container">            
    <h1>Entrez votre mot de passe</h1>
    </br>
    </br>
    <form action="/login_password" name="password" method="post">
        <input type="password" name="password" value="">
        <button type="submit" class="">Valider</button>        
    </form>
    </br>
</div>
<% include common/footer %>