.checkbox { margin: 0; }

/* Set black background color, white text and some padding */
footer 
{
    background-color: #555;
    color: #FFFFFF;
    padding: 15px;
}

.left 
{
    position: absolute;
    right: 10%;
    top: 0px;
}

div {
    display: block;
}

.btn.btn-success.btn-block {
    color: #ffffff;
    background-color: #ff4511;
    background-image: linear-gradient(to bottom, #ff4511, #ff4511);
    border-color: #ff4511 #ff4511 #ff4511;
}
.btn.btn-success.btn-block:hover {
    color: #ffffff;
    background-color: #ff4511;
    background-image: linear-gradient(to bottom, #ff4511, #ff4511);
    border-color: #ff4511 #ff4511 #ff4511;
}

/*@font-face {
    font-family: 'arial regular';
    src: url('/css/fonts/Arial-Regular.ttf');
}

@font-face {
    font-family: 'cac_champagneregular';
    src: url('cac_champagne-webfont.ttf');
}

p
{
    font-family: 'cac_champagneregular';
}

p
{
    font-family: "arial regular";
}*/