<% include header %>
<div class="container">
    </br>
    <div id="random">
        <ul class="name">
        </ul>
    </div>
    </br>
</div>
<script>
        var str = <%- JSON.stringify(str) %>;
        if (str != undefined){
            var firstname = "\<li\>Prenom : ";
            firstname = firstname + str.prenom;
            firstname = firstname + "\</li\>";
            $("ul").append(firstname);
            var name = "\<li\>Nom : ";
            name = name + str.nom;
            name = name + "\</li\>";
            $("ul").append(name);
            var email = "\<li\>Email : ";
            email = email + str.email;
            email = email + "\</li\>";
            $("ul").append(email);
        }
    </script>
    <script>
        /*var collect = "visiteurs";
        var bdd = "appliContact";
        var MongoClient = require('mongodb').MongoClient;
        var name;
        var firstname;
        var i = 0;
        var ret = 0;

        var url = "mongodb://localhost:27017/";
        url = url + bdd;
        MongoClient.connect(url, function(err, db) {
            if (err) throw err;
            db.collection(collect).find({}).toArray(function(err, result) {
            if (err) throw err;
            while (result[i]){
                name = result[i].nom;
                firstname = result[i].prenom;
                console.log(name + " " + randomItem.nom);
                if ((randomItem.nom == name) && (randomItem.prenom == firstname)){
                    console.log("==>TRICHEUR");
                    ret = 1;
                }
                i++;
            }
            db.close();
            });
        });*/
    </script>
    </br>
    <a href="/" rel="nofollow" target="">
        Cliquer sur ce lien pour revenir à l'accueil
    </a>
<% include footer %>