<form action="/adduser" name="adduser" method="post" id="dialogue" class="form-horizontal">
    <div class="container">
        <div class="panel panel-warning">
            <div class="panel-heading">Gardez le contact !</div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="control-label col-sm-2" for="userfname">Prénom:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="userfname">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label col-sm-2" for="userlname">Nom:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="userlname">
                        </div>
                    </div>
                </div>
                </br>
                </br>
                </br>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="control-label col-sm-2" for="userpro">Numéro Pro:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="userpro">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label col-sm-2" for="usernum">Numéro Perso:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="usernum">
                        </div>
                    </div>
                </div>
                </br>
                </br>
                </br>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="control-label col-sm-2" for="LinkedIn">Linkedin:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="userlinkedin">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label col-sm-2" for="userviadeo">Viadeo:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="userviadeo">
                        </div>
                    </div>
                </div>
                </br>
                </br>
                </br>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="control-label col-sm-2" for="useremail">Email:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="useremail">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label col-sm-6" for="check">
                    <input type="checkbox" value="" > Être recontacté
                </label>
                    </div>
                </div>
                </br>
                </br>
                </br>
                <div class="col-sm-12">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <button type="submit" class="btn btn-warning">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
