<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading">Gardez le contact !</div>
            <div class="panel-body">
                <form action="/adduser" name="adduser" method="post" id="dialogue" class="form-horizontal">
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" id="prenom" placeholder="Prénom">
                    </div>
                    <button type="submit" class="btn btn-primary">Transfer cash</button>
                </form>
            </div>
        </div>
    </div>
</form>

<!--
 First name:<br>
                <input type="text" name="userfname" value="">
            </div>
            <div class="col-sm-2">
                <br>Last name:
                <input type="text" name="userlname" value="">
            </div>
            <div class="col-sm-2">
                <br>Email:
                <input type="text" name="useremail" value="">
            </div>
            <div class="col-sm-12">
                Numéro:
                <input type="text" name="usernum" value="">
            </div>
            <div class="col-sm-12">
                Linkedin:
                <input type="text" name="userlinkedin" value="">
            </div>
            <div class="col-sm-12">
                Viadeo:
                <input type="text" name="userviadeo" value="">
                <br><br>
                <input type="submit" value="valider">
            </div>
        </div>
-->