<div class="container">
    <div class="card">
        <form action="/adduser" name="adduser" method="post">
            <h2>Participation au jeu</h2>
            <div class="form-group">
                <label for="userfname">Prénom</label>
                <input type="text" class="form-control" name="userfname" placeholder="Prénom">
            </div>
            <div class="form-group">
                <label for="userlname">Nom</label>
                <input type="text" class="form-control" name="userlname" placeholder="Nom">
            </div>
            <div class="form-group">
                <label for="useremail">Email</label>
                <input type="text" class="form-control" name="useremail" placeholder="Nom">
            </div>
            <div class="form-group">
                <label for="userpro">Numéro Pro</label>
                <input type="text" class="form-control" name="userpro" placeholder="numéro Pro">
            </div>
            <div class="form-group">
                <label for="usernum">Numéro Perso</label>
                <input type="text" class="form-control" name="usernum" placeholder="Nom">
            </div>
            <div class="form-group">
                <label for="userlinkedin">Linkedin</label>
                <input type="text" class="form-control" name="userlinkedin" placeholder="Nom">
            </div>
            <div class="form-group">
                <label for="userviadeo">Viadeo</label>
                <input type="text" class="form-control" name="userviadeo" placeholder="Nom">
            </div>
            <div class="form-group">
                <label for="userviadeo">A quoi avez-vous participé ?</label>
            </div>
            <div class="form-group">
                <input type="checkbox" /> Mario
            </div>
            <div class="form-group">
                <input type="checkbox" /> Robot Pepper
            </div>
            <div class="form-group">
                <input type="checkbox" /> Concours photo
            </div>
            <div class="container"><br/>
                <div class="form-group">
                    <div class="checkbox">
                        <label data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <input type="checkbox"/>J'autorise sogeti a garder mes infos pour me recontacter
                    </label>
                    </div>
                </div>
                <div id="collapseOne" aria-expanded="false" class="collapse">
                        <label for="userviadeo">Entrez vos compétences</label>
                </br>
                    <input type="checkbox" /> A checkbox
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Valider</button>
        </form>
    </div>
</div>